/* Variables */
:root {
    --menu-color: #e1e1e1;
    --menu-background: #191919;
}

/* Main */
.page-body {
    width: 100vw;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Black.ttf);
}

/* Header */
.header {
    background-color: var(--menu-background);
    color: var(--menu-color);
    min-width: 100vw;
    min-height: 4.65em;
    position: sticky;
    top: 0px;
}

.header--flex, .drawer-section--flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#header-checkbox {
    visibility: hidden;
}

/* Drawer */
.drawer, #header-checkbox {
    height: 0px;
    width: 0px;
}

.drawer--responsive {
    visibility: hidden;
}

#header-checkbox:checked + .drawer--responsive {
    background-color: var(--menu-background);
    color: var(--menu-color);
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    overflow: hidden;
}

.drawer-section {
    width: 100%;
    min-height: 4.65em;
}

.drawer-section__outline {
    border-bottom: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
}

.drawer-section--center {
    justify-content: center;
}

.drawer-list .drawer-list__item {
    list-style-type: none;
}

.drawer-list--row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.drawer-section__links {
    width: 100%;
    height: auto;
    display: flex;
}

.drawer-section__links--column {
    flex-flow: column wrap;
}


/* Menu Stuff for Header and Drawer */
.drawer-list__iconlink:link, .drawer-list__iconlink:visited,
.drawer-list__link:link, .drawer-list__link:visited,
.menu-link:link, .menu-link:visited {
    color: var(--menu-color);
}

.menu-span__icon, .menu-span__openclose {
    font-size: 2.5em;
}

.menu-link__logo {
    height: 64px;
    width: 64px;
}

.menu-link__logo:hover {
    height: 70px;
    width: 70px;
    transition: all ease-in-out .15s;
}

.menu-label__openclose {
    position: absolute;
    right: 3em;
}

.menu-span__icon, .menu-span__openclose {
    transition: font-size ease-in-out .15s;
}

.menu-span__icon:hover, .menu-span__openclose:hover {
   font-size: 3em
}

.drawer-list__link {
    width: 100%;
    height: 2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 0.5em;
    font-family: 'Poppins', sans-serif;
}

.drawer-list__link:hover {
    transition: all ease-in-out .15s;
    border-bottom: 5px solid var(--menu-color);
    font-size: 28px;
    align-items: flex-end;
    margin-left: 1em;
}

/* Content */

/* Container */
.container {
    width: 100vw;
    height: 100%;
}

.container--flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Desktop */
@media (orientation:landscape) {
    /* Drawer */
    .drawer-list__link {
        margin-left: 0em;
        justify-content: center;
        font-size: 24px;
    }
    .drawer-list__link:hover {
        margin-left: 0em;
        font-size: 32px;
    }
    /* Container */
    .container > * {
        width: 70vw;
    }
}