/* Variables */
:root {
    --header-drawer-link-color: #e1e1e1;
    --header-drawer-background: #191919;
}

/* Main */
.pagebody {
    width: 100vw;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Links & Icons */
.drawerlist__link:link, .drawerlist__link:visited,
.drawerlink:link, .drawerlink:visited,
.headerlink:link, .headerlink:visited {
    color: var(--header-drawer-link-color);
}

.drawerspan__icon, .headerspan__icon {
    font-size: 2.5em;
}

/* Header */
.header {
    background-color: var(--header-drawer-background);
    color: var(--header-drawer-link-color);
    min-width: 100vw;
    min-height: 2.5em;
}

.header--flex, .drawersection--flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#headercheckbox {
    visibility: hidden;
}

/* Drawer */
.drawer {
    height: 0px;
    width: 0px;
}

.drawer--responsive {
    visibility: hidden;
}

#headercheckbox:checked + .drawer--responsive {
    background-color: var(--header-drawer-background);
    color: var(--drawer-color);
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.drawersection {
    width: 100%;
    height: 4em;
}

.drawersection__outline {
    border-bottom: 1px solid #c7c7c7;
    border-top: 1px solid #c7c7c7;
}

.drawersection--center {
    justify-content: center;
}

.drawerlist .drawerlist__item {
    list-style-type: none;
}

.drawerspan__icon {
    transition: font-size ease-in-out .1s;
}

.drawerspan__icon:hover {
   font-size: 3em
} 

.drawerlist--row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Desktop */
@media (orientation:landscape) {
}