/* Variables */
:root {
    /* Header */
    --header-background: #191919;
    --header-color: #e1e1e1;
    /* Drawer */
    --drawer-background: #191919;
    --drawer-color: #e1e1e1;
    --drawer-icon-color: #c7c7c7;
}

/* Main */
html, body {
    width: 100vw;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Header */
.header {
    background-color: var(--header-background);
    color: var(--header-color);
    min-width: 100vw;
    min-height: 2.5em;
}

.header--flex, .drawersection--flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#headercheckbox {
    visibility: hidden;
}

/* Drawer */
.drawer {
    height: 0px;
    width: 0px;
}

#headercheckbox:checked + .drawer--responsive {
    background-color: var(--drawer-background);
    color: var(--drawer-color);
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}


.drawersection {

}

.drawer--responsive {
    visibility: hidden;
}

/* Desktop */
@media (orientation:landscape) {
}